# VSCode configurations
.vscode

# Python cache
**/__pycache__/

# Virtual environment
.venv

# Datasets
data

# Reading material
book
papers

# Output
results

# Model checkpoints
checkpoints

# Temporary dir
tmp

# Redirected terminal output
*.txt

# GTSAM and g2o
gtsam
g2o
g2o-pymem
g2opy

# Dont ignore the backend g2o and gtsam folders
!src/backend/g2o
!src/backend/gtsam

# Ignore the vocablary
vocabulary

# Ignore logs
logs

**/.gitkeep